@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #E5E5E5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    border-radius: 4px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #A9A9A9;
    border: 0.5px solid #AEAEAE;
    padding-left: 10px;
    background-color: white;
    padding-right: 50px;
}

h1 {
    text-align: center;
}

.first-p {
    margin-top: 16px;
}

.first-h1 {
    margin-top: 40px;
    line-height: 20px;
    font-family: Sora, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.second-h1 {
    margin-top: 40px;
    line-height: 20px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.container {
    width: 640px;
    height: 264px;
    background-color: white;
    text-align: center;
    border-radius: 4px;
}

.second-container {
    width: 640px;
    height: 328px;
    background-color: white;
    text-align: center;
    border-radius: 4px;
}


p {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 16px;
}

.m3 {
    font-family: Sofia;
}

button {
    /*display: block;*/
    /*margin: 0 auto;   */
    width: 384px;
    height: 48px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 4px;
    font-family: Sora;
}

.first-input {
    /*margin-left: 16px;*/
    width: 608px;
    height: 48px;
    padding-left: 16px;
    margin-top: 8px;
}

.second-input {
    width: 48px;
    height: 48px;
    margin-top: 40px;
}

.second-p {
    color: #A9A9A9;
    margin-top: 8px;
}

.div-of-p {
    display: flex;
    justify-content: center;
    width: 256px;
    /*background-color:green;*/
    margin-left: auto;
    margin-right: auto;
}

input {
    border-radius: 12px;
}

.second-input {
    font-size: 24px;
    text-align: center;
}

.third-container {
    width: 664px;
    height: 576px;
    background-color: white;
    text-align: center;
    /*display: flex;*/
}

.fourth-container {
    width: 664px;
    height: 608px;
    background-color: white;
    text-align: center;
}

.third-h1 {
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    color: #000000;
    margin-top: 40px;
}

.third-p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 25px;
    margin-top: 20px;
}

.third-p2 {
    margin-top: 16px;
    margin-left: 25px;
}

.person {
    width: 200px;
    height: 48px;
    margin-left: 8px;
    margin-top: 16px;
}

.person1 {
    width: 408px;
    height: 48px;
    margin-left: 8px;
    margin-top: 16px;
}

.person2 {
    width: 304px;
    height: 48px;
    margin-left: 8px;
    margin-top: 16px;
}

.date {
    width: 200px;
    height: 48px;
    margin-left: 8px;
}

.live {
    width: 408px;
    height: 48px;
    margin-left: 8px;
    margin-top: 16px;
}

.live1 {
    width: 625px;
    height: 48px;
    margin-left: 8px;
    margin-top: 16px;
}

input {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    padding-left: 10px;
}

button:hover {
    background-color: #AEAEAE;
    color: black;
    transition-duration: 0.5s;
    cursor: pointer;
}

.first-h1-m {
    margin-top: 40px;
    line-height: 20px;
    font-family: Sora, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /*background-color: blueviolet;*/
    width: 148px;
}

.container-m {
    width: 400px;
    height: 264px;
    background-color: #E5E5E5;
    text-align: center;
    border-radius: 4px;
}

.first-p-m {
    margin-top: 16px;
}

#buttom {
    width: 95%;
    /*background-color: blue;*/
}

.first-input-m {
    /*margin-left: 16px;*/
    width: 370px;
    height: 48px;
    padding-left: 16px;
    margin-top: 8px;
}

.container-third-html-m {
    width: 360px;
    height: 925px;
    background-color: green;
    padding: 10px 10px 50px 10px;
    display: flex;
    flex-direction: column;
}
.container-third-html-m input {
    height: 48px;
}
.container-third-html-m label {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 10px 0;
}
.container-third-html-m  h1, h2 {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
}
.container-third-html-m h2 {
    font-size: 16px;
    margin: 20px 0 20px 0;
}
p, label {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}















